

<div class="container">
	<div class="row">
		<div class="col s12">
			<h1 class="center">Camperzzzz</h1>
		</div>
	</div>

	<div class="row">
		<div class="col s12">
			<ul>
				<%@bootcamps.each do |bootcamp|%>
				<div class="col s4">
					<li>
						<div class="card">
						    <div style="height: 350px; width: 200px; margin: 0 auto;" class="card-image waves-effect waves-block waves-light">
						      <img class="activator" src="<%=bootcamp.avatar%>">
						    </div>
						    <div class="card-content">
						      <span class="card-title activator grey-text text-darken-4"><%=bootcamp.name%><i class="material-icons right">more_vert</i></span>
						      <p><a href="/bootcamps/<%=bootcamp.id%>">This is a link</a></p>
						    </div>
						    <div class="card-reveal">
						      <span class="card-title grey-text text-darken-4"><%=bootcamp.name%><i class="material-icons right">close</i></span>
						      <p><%=bootcamp.description%></p>
						    </div>
						</div>
					</li>
				</div>
				<%end%>
			</ul>
		</div>
	</div>
</div>