

	<div class="row">
		<div class="col s12">
			<h1 class="center logo-centered"><%= image_tag "logo.png", class: "logo-home" %>Mapperer</h1>

		</div>
	</div>

	<div class="row home-row">
		<div class="col s6 center">
			<i class="material-icons home-icon">add_location</i>
		</div>
		<div class="col s6">
			<h4 class="home-text">There are many schools and bootcamps, but how do you know which is the right one? Do you know what's around the bootcamp/school? Are you wondering where you are going to be everyday? </h4>
		</div>
	</div>

<div class="container">
	<div class="row">
		<div class="col s12">
			<ul>
				<%@bootcamps.each do |bootcamp|%>
				<div class="col s4">
					<li>
						<div class="card card_frame entire-card blue-grey lighten-3">
						    <div class="card-image waves-effect waves-block waves-light card-changer">
						      <img class="activator"  src="<%=bootcamp.avatar%>">
						    </div>
						    <div class="card-content">
						      <span class="card-title activator bootcamp-name"><%=bootcamp.name%><i class="material-icons right">more_vert</i></span>
						      <p><a href="/bootcamps/<%=bootcamp.id%>">Click For More Info</a></p>
						    </div>
						    <div class="card-reveal blue-grey lighten-3">
						      <span class="card-title"><%=bootcamp.name%><i class="material-icons right">close</i></span>
						      <p><%=bootcamp.description%></p>
						    </div>
						</div>
					</li>
				</div>
				<%end%>
			</ul>
		</div>
	</div>
</div>