<h1 style="display: none;" class="container" id="title" data-lat="<%=@bootcamp.lat%>" data-lng="<%=@bootcamp.lng%>"><%=@bootcamp.name%></h1>

<img style="margin-top: 20px;" id="logo" src="<%=@bootcamp.avatar%>">

<% if current_user == nil %>
  <div class="center">
    <form action="/bootcamps/<%=@bootcamp.id%>/request" method="post">
      <button class="waves-effect waves-light btn">Join Bootcamp</button>
    </form>
  </div>
<% elsif current_user.bootcamp != @bootcamp.name %>
  <div class="center">
    <form action="/bootcamps/<%=@bootcamp.id%>/request" method="post">
      <button class="waves-effect waves-light btn">Join Bootcamp</button>
    </form>
  </div>
<% end %>

<div id="selector" class="type-holder">
    <form action="#">
      <ul class="type-list">
        <% @types.each do |selectionName|%>
          <% if selectionName == "store" %>
            <% selectionName = "all" %>
          <% end %>
          <% selectionNameChange = selectionName.gsub(/_/, ' ')%>
          <li>
            <input name="group1" type="radio" class="store black-text" id="<%= selectionName%>"
              <% if selectionName == "all" %>
              checked="checked"
              <% end %>
            />
            <label for="<%=selectionName%>" class="black-text"><i class="tiny material-icons black-text"><%=@icons[selectionName]%></i><%=selectionNameChange%></label>
          </li>
        <% end %>
      </ul>
    </form>
</div>


<div class="container" id="map"></div>